configuration (  
        master_exec_path = "/home/cad/synopsys/icvalidator/V-2023.12-SP3-1/bin/LINUX64_L31el/icv_manager",
        slave_exec_path = "/home/cad/synopsys/icvalidator/V-2023.12-SP3-1/bin/LINUX64_L31el/icv_worker",
        engine_exec_path = "/home/cad/synopsys/icvalidator/V-2023.12-SP3-1/bin/LINUX64_L31el/icv_engine",
        working_directory = "/home/sv1/K21_CLC/thai/decoder6_64/decoder6_64_icc2/work/signoff_check_drc_run",
        run_details_directory = "/home/sv1/K21_CLC/thai/decoder6_64/decoder6_64_icc2/work/signoff_check_drc_run/run_details",
        group_directory = "/home/sv1/K21_CLC/thai/decoder6_64/decoder6_64_icc2/work/signoff_check_drc_run/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { capacitor, ""},
                 { capacitor, ""},
                 }
);
